/*
 * 16 x 16 icons
 */
.icon-arrow-right {
	background-image: url(../img/icons/16x16/arrow-right.png) !important;
	background-repeat: no-repeat;
}

.icon-bar-chart {
	background-image: url(../img/icons/16x16/bar-chart.png) !important;
	background-repeat: no-repeat;
}

.icon-dollar {
	background-image: url(../img/icons/16x16/dollar-sign.png) !important;
	background-repeat: no-repeat;
}

.icon-film {
	background-image: url(../img/icons/16x16/film.png) !important;
	background-repeat: no-repeat;
}

.icon-pie-chart {
	background-image: url(../img/icons/16x16/pie-chart.png) !important;
	background-repeat: no-repeat;
}

.icon-stacked-bar-chart {
	background-image: url(../img/icons/16x16/stacked-bar-chart.png) !important;
	background-repeat: no-repeat;
}

.icon-star {
	background-image: url(../img/icons/16x16/star.png) !important;
	background-repeat: no-repeat;
}

/**
 * SVG
 */
.arc path {
	stroke: #FFFFFF;
}

.axis path, .axis line {
	fill: none;
	stroke: black;
	shape-rendering: crispEdges;
}

.axis text {
	font: 9px/1.1 sans-serif;
	fill: #333333;
}

.tinyText {
	font: 9px/1.1 sans-serif;
}