.gridRowSelection .x-grid-row-selected .x-grid-cell {
	background-color: #FF9 !important;
	border-bottom-color: #666;
	border-bottom-style: solid;
	border-top-color: #666;
	border-top-style: solid;
}

/*
 * 16 x 16 icons
 */
.icon-album {
	background-image: url(../img/icons/16x16/album.png) !important;
	background-repeat: no-repeat;
}

.icon-area-chart {
	background-image: url(../img/icons/16x16/area-chart.png) !important;
	background-repeat: no-repeat;
}

.icon-arrow-right {
	background-image: url(../img/icons/16x16/arrow-right.png) !important;
	background-repeat: no-repeat;
}

.icon-arrow-switch {
	background-image: url(../img/icons/16x16/arrow-switch.png) !important;
	background-repeat: no-repeat;
}

.icon-bar-chart {
	background-image: url(../img/icons/16x16/bar-chart.png) !important;
	background-repeat: no-repeat;
}

.icon-bar-chart-hoz {
	background-image: url(../img/icons/16x16/bar-chart-hoz.png) !important;
	background-repeat: no-repeat;
}

.icon-color-wheel {
	background-image: url(../img/icons/16x16/color-wheel.png) !important;
	background-repeat: no-repeat;
}

.icon-cow {
	background-image: url(../img/icons/16x16/cow.png) !important;
	background-repeat: no-repeat;
}

.icon-delete {
	background-image: url(../img/icons/16x16/delete.png) !important;
	background-repeat: no-repeat;
}

.icon-dollar {
	background-image: url(../img/icons/16x16/dollar-sign.png) !important;
	background-repeat: no-repeat;
}

.icon-donut-chart {
	background-image: url(../img/icons/16x16/donut-chart.png) !important;
	background-repeat: no-repeat;
}

.icon-email-send {
	background-image: url(../img/icons/16x16/email-send.png) !important;
	background-repeat: no-repeat;
}

.icon-eraser {
	background-image: url(../img/icons/16x16/eraser.png) !important;
	background-repeat: no-repeat;
}

.icon-film {
	background-image: url(../img/icons/16x16/film.png) !important;
	background-repeat: no-repeat;
}

.icon-globe {
	background-image: url(../img/icons/16x16/globe.png) !important;
	background-repeat: no-repeat;
}

.icon-line-chart {
	background-image: url(../img/icons/16x16/line-chart.png) !important;
	background-repeat: no-repeat;
}

.icon-magnify {
	background-image: url(../img/icons/16x16/magnify.png) !important;
	background-repeat: no-repeat;
}

.icon-page-paintbrush {
	background-image: url(../img/icons/16x16/page-paintbrush.png) !important;
	background-repeat: no-repeat;
}

.icon-percent {
	background-image: url(../img/icons/16x16/percent.png) !important;
	background-repeat: no-repeat;
}

.icon-pie-chart {
	background-image: url(../img/icons/16x16/pie-chart.png) !important;
	background-repeat: no-repeat;
}

.icon-plus {
	background-image: url(../img/icons/16x16/plus.png) !important;
	background-repeat: no-repeat;
}

.icon-refresh {
	background-image: url(../img/icons/16x16/refresh.png) !important;
	background-repeat: no-repeat;
}

.icon-scatterplot {
	background-image: url(../img/icons/16x16/scatterplot.png) !important;
	background-repeat: no-repeat;
}

.icon-skull-and-bones {
	background-image: url(../img/icons/16x16/skull-and-bones.png) !important;
	background-repeat: no-repeat;
}

.icon-soccer-assist {
	background-image: url(../img/icons/16x16/soccer-assist.png) !important;
	background-repeat: no-repeat;
}

.icon-soccer-ball {
	background-image: url(../img/icons/16x16/soccer-ball.png) !important;
	background-repeat: no-repeat;
}

.icon-soccer-save {
	background-image: url(../img/icons/16x16/soccer-save.png) !important;
	background-repeat: no-repeat;
}

.icon-stacked-bar-chart {
	background-image: url(../img/icons/16x16/stacked-bar-chart.png) !important;
	background-repeat: no-repeat;
}

.icon-steak {
	background-image: url(../img/icons/16x16/steak.png) !important;
	background-repeat: no-repeat;
}

.icon-star {
	background-image: url(../img/icons/16x16/star.png) !important;
	background-repeat: no-repeat;
}

.icon-target {
	background-image: url(../img/icons/16x16/target.png) !important;
	background-repeat: no-repeat;
}

.icon-tree {
	background-image: url(../img/icons/16x16/tree.png) !important;
	background-repeat: no-repeat;
}

.icon-tick {
	background-image: url(../img/icons/16x16/tick.png) !important;
	background-repeat: no-repeat;
}

.icon-tools {
	background-image: url(../img/icons/16x16/tools.png) !important;
	background-repeat: no-repeat;
}

/**
 * SVG
 */
 
/** easily recognize the bounding box 
svg {
	border: solid 2px black;
}**/

.arc path {
	stroke: #FFFFFF;
}

.areaLine {
	fill: none
}

.axis path, .axis line {
	fill: none;
	stroke: black;
	shape-rendering: crispEdges;
}

.axis text {
	font: 9px/1.1 sans-serif;
	fill: #333333;
}

.axisBoldAsLove path, .axisBoldAsLove line {
	fill: none;
	stroke: black;
	shape-rendering: crispEdges;
}

.axisBoldAsLove text {
	font: 9px/1.1 sans-serif;
	font-weight: bold;
	fill: #333333;
}

.axisMajor path, .axisMajor line {
	fill: none;
	stroke: black;
	shape-rendering: crispEdges;
}

.axisMajor text {
	font: 11px/1.1 sans-serif;
	fill: #333333;
}

.treecell {
	border: solid 1px white;
	-moz-border-radius: 4px;
	border-radius: 4px;
	font: 9px sans-serif;
	line-height: 12px;
	overflow: hidden;
	position: absolute;
	padding: 2px;
}

.unsecTreeCell {
	border: solid 1px white;
	-moz-border-radius: 4px;
	border-radius: 4px;
	color: black;
	/*text-shadow: 1px 1px #333;*/
	/*font: bold 9px sans-serif;*/
	font: 9px sans-serif;
	line-height: 12px;
	overflow: hidden;
	position: absolute;
	padding: 4px;
}

.nflTreeCell {
	border: solid 1px white;
	-moz-border-radius: 4px;
	border-radius: 4px;
	color: white;
	font: bold 9px sans-serif;
	line-height: 12px;
	overflow: hidden;
	position: absolute;
	padding: 4px;
}

.tinyText {
	font: 9px/1.1 sans-serif;
}

.miniText {
	font: 8px/1.1 sans-serif;
}

.legendText {
	font: 9px/1.1 sans-serif;
	cursor: pointer;
}

.legendTextBold {
	font: bold 9px/1.1 sans-serif;
	cursor: pointer
}

.legendTextBoldOver {
	font: bold 9px/1.1 sans-serif;
	color; #990066;
	cursor: pointer
}

.labelText {
	font: 9px/1.1 sans-serif;
	pointer-events: none;
}

.labelText-pe {
	font: 9px/1.1 sans-serif;
}

.labelTextItalic {
	font: 10px/1.1 sans-serif;
	font-style: italic;
	fill: #333333;
}

.primaryGrouper {
	font: 10px/1.1 sans-serif;
	fill: #990066;
}

.secondaryGrouper {
	font: 9px/1.1 sans-serif;
}

.treemapCategory {
	font: bold 11px/1.1 "Verdana", sans-serif;
	fill: #FFF;
	stroke: black;
	stroke-width: .2;
	opacity: 1,
	pointer-events: none;
}
/**
 * ExtJS overrides and additions
 */
.btn-highlight-aquamarine {
	background: #66CDAA;
}
.btn-highlight-khaki {
	background: #F0D58C;
}
.btn-highlight-peachpuff {
	background: #FFDAB9;
}
.btn-highlight-skyblue {
	background: #87CEEB;
}
.responsiveWin {
	background-color: #FFFFFF;
}